* { 
	margin: 0; 
	padding: 0;
}

body,html { 
	height: 100%; 
	font-size: 16px;
}

ul {
	display: flex;
}

li {
	list-style: none;
	text-align: center;
	flex: 1;
	font-size: 2em;
}

body {
	background: url("../img/bg.jpg");
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.center {
	justify-content: space-around;
	padding: 1.5em;
}

.center p {
	color: #eaeaea;
	padding: 1em;
	font-size: 1.2em;
	font-family: "Ubuntu";
	background: rgba(0, 0, 0, 0.7);
}

.center button a {
	color: #eaeaea;
}

.btn-custom {
	box-shadow: 0px 4px 0px rgba(85, 33, 31, 0.6) !important;		
}

@media screen and (max-width: 900px) {
	body {
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}

	.center p {
		font-size: 1em;
	}
}